
@model List<Product>

     <section class="mt-3">
        <div class="container">
            <h3 class="h4 mb-1 mb-lg-3">Product List</h3>

            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">

                @foreach(Product product in Model ){

                      <div class="col">
                           @await Html.PartialAsync("Partials/_Card",product)
                      </div>
                }
   
            </div>


        </div>
    </section>