
@model List<Category>


<style>
.slider_nav {
    max-height: 300px; /* menünün yüksekliği sınırlandırılır */
    overflow-y: auto;  /* içerik taştığında dikey kaydırma çubuğu çıkar */
}
</style>
 <nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider_nav">

                    @foreach(var Category in Model){
                          <a href="#" class="nav-link ">@Category.Name</a>  // kategorileri database den otomatik aldik elle olusturmadik
                    }
      
                        </nav>