 <nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider_nav">
                            <a href="#" class="nav-link active">Elektronik</a>
                            <a href="#" class="nav-link">Giyim</a>
                            <a href="#" class="nav-link">Spor</a>
                            <a href="#" class="nav-link">Kozmetik</a>
                            <a href="#" class="nav-link">Kitap</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                            <a href="#" class="nav-link">Anne/Bebek</a>
                        </nav>